# Ignore virtual environment
venv/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
data/
*.csv
*.json

# Ignore logs and outputs
logs/
*.log
